spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
    config:
      enabled: false

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      enabled: true