server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config
  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,configprops
  endpoint:
    health:
      show-details: always
      show-components: always
    metrics:
      enabled: true
    env:
      enabled: true
    configprops:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        http.server.requests: true
    tags:
      application: config-server
      environment: ${spring.profiles.active:default}

logging:
  level:
    com.bank.config: DEBUG
    org.springframework.cloud.config: INFO
  pattern:
    level: "%5p [%X{correlationId:-}]"

---
spring:
  config:
    activate:
      on-profile: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

---
spring:
  config:
    activate:
      on-profile: git
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_SERVER_GIT_URI:https://github.com/your-org/bank-config-repo}
          username: ${CONFIG_SERVER_GIT_USERNAME:}
          password: ${CONFIG_SERVER_GIT_PASSWORD:}
          default-label: ${CONFIG_SERVER_GIT_LABEL:main}
          clone-on-start: false
          skip-ssl-validation: ${CONFIG_SERVER_SKIP_SSL_VALIDATION:false}

---
spring:
  config:
    activate:
      on-profile: docker
eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/